<h1><%= "#{@char.name} Builds" %></h1>
<table id="build_skills_list" class="build_list">
  <tr>
    <th>Title:</th>
    <th>User:</th>
    <th>Active Skills:</th>
    <th>Passive Skills:</th>
  </tr>
  <% @builds.each do |build| %>
  <tr>
    <td><strong><%= link_to build.name, user_build_url(build.user, build) %></strong></td>
    <td><%= link_to build.user.name, user_builds_url(build.user) %></td>
    <td>
      <ul>
        <% build.build_skills.each do |build_skill| %>
          <% if build_skill.skill && !build_skill.skill.passive? -%>
           <% if build_skill.rune -%>
            <li data-tooltip-url="<%= tooltip_char_class_skill_rune_effect_path(build.char_class,build_skill.skill,build_skill.effect) %>">  
          <% else -%>
            <li data-tooltip-url="<%= tooltip_char_class_skill_path(build.char_class,build_skill.skill) %>">
          <% end -%>
              <%= image_tag(build_skill.skill.img_url, :class => "skill_img" )%>
            </li>
          <% end -%>
        <% end -%>
      </ul>
    </td>
    <td>
      <ul>
      <% build.build_skills.each do |build_skill| %>
          <% if build_skill.skill && build_skill.skill.passive? -%>
            <li data-tooltip-url="<%= tooltip_char_class_skill_path(build.char_class,build_skill.skill) %>">
              <%= image_tag(build_skill.skill.img_url, :class => "skill_img" )%>
            </li>
          <% end -%>
        <% end -%>
      </ul>
    </td>
  </tr>
  <% end %>
</table>
