<% flash.each do |name, msg| %>
  <%= content_tag :div, msg, :id => "flash_#{name}" if msg.is_a?(String) %>
<% end %>
<%= render :partial => "class_menu" %>
<div id="class_info">
  <h1><%= @char.name %></h1>
  <p><strong>Resource:</strong> <%= @char.resource %></p>
  <p> <%= @char.description %></p>
</div>
<section id="class_skills">
  <h2>Skills</h2>

  <ul id="skill_filters">
    <li><%= link_to "All (#{@char.skills.count})", skill_types_path, "data-filter" => "all", :class => "filter_active" %></li>
    <% @char.skill_types.each do |skill_type| %>
      <li><%= link_to "#{skill_type.name} (#{skill_type.skills.count})", skill_type_path(skill_type), "data-filter" => skill_type.slug %></li>
    <% end %>
  </ul>

  <% @char.skills.each do |skill| %>
    <article class='<%= skill.skill_type.slug %>'>
      <header>
        <%= image_tag(skill.img_url, :class => "skill_img") %>
        <span class="skill_level">lvl <%= skill.level %></span>
        <h3 class="skill_name"><%= skill.name %></h3>
        <h4 class="skill_type"><%= skill.skill_type.name %></h4>
      </header>
      <div>
        <span></span>
        <ul class="skill_details">
          <% if skill.cost? %>
            <li><strong>Cost:</strong> <%= skill.cost %></li>
          <% end %>
          <% if skill.generate? %>
            <li><strong>Generate:</strong> <%= skill.generate %></li>
          <% end %>
          <% if skill.cooldown? %>
            <li><strong>Cooldown:</strong> <%= skill.cooldown %></li>
          <% end %>
        </ul>
        <span><%= skill.description %></span>
      </div>
      <% if !skill.rune_effects.empty? %>
      <footer>
        <ul>
          <li><strong>Runes:</strong></li>
        <% skill.rune_effects.each do |rune_effect| %>
          <li><%= image_tag(rune_effect.rune.img_url, "data-url" => char_class_skill_rune_effect_path(@char,skill,rune_effect)) %></li>
        <% end %>
        </ul>
      </footer>
      <% end %>
    </article>
  <% end %>
</section>

