<h2 id="comments_count"><%= pluralize(@comments.length, 'Comment') -%> </h2>
  <% if !@comments.empty? -%>
    <% @comments.each do |comment| -%>
      <li>
        <header><strong><%= link_to comment.user.name, user_path(comment.user) %></strong> said:</header>
        <div><%= simple_format(comment.content) %></div>
        <footer>
          <div><%= distance_of_time_in_words(comment.created_at, Time.now, include_seconds = false, options = {}) %> ago </div>
          <%= link_to 'Edit', edit_user_build_comment_path(@user,@build,comment) if can? :edit, comment %>
          <%= link_to "Delete", user_build_comment_path(@user,@build,comment), :method => :delete if can? :destroy, comment %>
        </footer>
      </li>
    <% end -%>
  <% end -%>
