<% flash.each do |name, msg| %>
  <%= content_tag :div, msg, :id => "flash_#{name}" if msg.is_a?(String) %>
<% end %>

<% if @user == current_user %>
  <h1>My Builds</h1>
<% else %>
  <h1><%= "#{@user.name}'s Builds" %></h1>
<% end %>

<%= link_to "New Build", new_user_build_path(@user) %>

<table>
  <% @user.builds.each do |build| %>
  <tr>
    <td><%= link_to build.name, user_build_url(@user, build) %></td>
    <td><%= build.description.truncate(100) unless build.description.nil? %></td>
    <td><%= link_to "Edit", edit_user_build_url(@user, build) %></td>
    <!--<td><%= link_to "Delete", user_build_url(@user, build), :method => :delete %></td>-->
  </tr>
  <% end %>
</table>
