<% flash.each do |name, msg| %>
  <%= content_tag :div, msg, :id => "flash_#{name}" if msg.is_a?(String) %>
<% end %>

<% if @user == current_user %>
  <h1>My Builds</h1>
<% else %>
  <h1><%= "#{@user.name}'s Builds" %></h1>
<% end %>

<% if @user == current_user %>
  <%= link_to "New Build", new_user_build_path(@user), :class => "but" %>
<% end %>

<% if !@user.builds.empty? %>
  <table id="build_skills_list" class="build_list">
  <tr>
    <th id="th_build">Build:</th>
    <th id="th_class">Class:</th>
    <th id="th_active_skills">Active Skills:</th>
    <th id="th_passive_skills">Passive Skills:</th>
  </tr>
    <% @user.builds.each do |build| %>
    <tr data-class-id="<%= build.char_class.id %>" class="visible">
    <td>
      <div class="title">
        <%= link_to build.name, user_build_path(build.user, build) %>
      </div>
      <div class="description">
        <%= build.description.truncate(60) %>
      </div>
      <div class="build_info">
        Updated <%= distance_of_time_in_words(build.updated_at, Time.now) %> ago
      </div>
    </td>
    <td>
      <div class="class_name">
        <%= link_to build.char_class.name, builds_char_class_path(build.char_class) %>
      </div>
      <div class="build_details">
        <%# link_to "PvP", builds_char_class_path(build.char_class) %>
      </div>
    </td>
    <td>
      <ul>
        <% build.build_skills.each do |build_skill| %>
          <% if build_skill.skill && !build_skill.skill.passive? -%>
           <% if build_skill.rune -%>
            <li data-tooltip-url="<%= tooltip_char_class_skill_rune_effect_path(build.char_class,build_skill.skill,build_skill.effect) %>">  
          <% else -%>
            <li data-tooltip-url="<%= tooltip_char_class_skill_path(build.char_class,build_skill.skill) %>">
          <% end -%>
              <%= image_tag(build_skill.skill.img_url, :class => "skill_img" )%>
            </li>
          <% end -%>
        <% end -%>
      </ul>
    </td>
    <td>
      <ul>
      <% build.build_skills.each do |build_skill| %>
          <% if build_skill.skill && build_skill.skill.passive? -%>
            <li data-tooltip-url="<%= tooltip_char_class_skill_path(build.char_class,build_skill.skill) %>">
              <%= image_tag(build_skill.skill.img_url, :class => "skill_img" )%>
            </li>
          <% end -%>
        <% end -%>
      </ul>
      </td>
      <% if @user == current_user %>
      <td><%= link_to "Edit", edit_user_build_url(@user, build) %> <%= link_to "Delete", user_build_url(@user, build), :confirm => "Are you sure?", :method => :delete%></td>
      <% end -%>
    </tr>
    <% end %>
  </table>
<% end -%>
<% if @user != current_user && @user.builds.empty? %>
  <p>This seems more empty than Tristram! </p> 
<% end -%>

