<h1>Builds</h1>
<table>
  <% @user.builds.each do |build| %>
  <tr>
    <td><%= link_to build.name, user_build_url(@user, build) %></td>
    <td><%= build.description.truncate(100) unless build.description.nil? %></td>
    <td><%= link_to "Edit", edit_user_build_url(@user, build) %></td>
    <!--<td><%= link_to "Delete", user_build_url(@user, build), :method => :delete %></td>-->
  </tr>
  <% end %>
</table>

<hr>
<%= link_to "Home", root_path %> | 
<%= link_to "New Build", new_user_build_url %>
