<% flash.each do |name, msg| %>
  <%= content_tag :div, msg, :id => "flash_#{name}" if msg.is_a?(String) %>
<% end %>
<header class="build">
  <ul class="build_toolbar">
    <li><fb:like href="<%= request.url %>" send="true" layout="button_count" width="90" show_faces="false" colorscheme="dark"></fb:like></li>
  </ul>
  <% if @user != current_user %>
    <div id="breadcrumb">
      <%= link_to @user.name, user_builds_path(@user) %> ::
    </div>
  <% end -%>
  <h1><%= @build.name %> <span><%= link_to "Edit", edit_user_build_path, :class => "but" if @user == current_user %><span></h1>
  <p class="class_name"><strong>Class:</strong> <%= @build.char_class.name %></p>
  <p class="description"><%= @build.description if @build.description %></p>
</header>
<div id="build_skills_list">
  <ul class="build_active_skills">
    <h2>Active Skills:</h2>
    <% @build_skills.each do |build_skill| %>
      <% if build_skill.skill && !build_skill.skill.passive? -%>
      <% if build_skill.rune -%>
        <li data-tooltip-url="<%= tooltip_char_class_skill_rune_effect_path(@build.char_class,build_skill.skill,build_skill.effect) %>">  
      <% else -%>
        <li data-tooltip-url="<%= tooltip_char_class_skill_path(@build.char_class,build_skill.skill) %>">
      <% end -%>
        <%= image_tag(build_skill.skill.img_url, :class => "skill_img" )%>
          <% if build_skill.rune -%>
            <%= image_tag(build_skill.rune.img_url, :class => "rune_img" )%>
          <% else -%>
           <img src="/assets/runes/rune_empty.png" class="rune_img">
          <% end -%>
        <div>
          <h5><%= build_skill.skill.name %></h5>
          <p><%= "lvl #{build_skill.skill.level} - #{build_skill.skill.skill_type.name}" %></p>
        </div>
     <% end -%>
   <% end -%>
  </ul>
  <ul class="build_passive_skills">
    <h2>Passive Skills:</h2>
    <% @build_skills.each do |build_skill| %>
      <% if build_skill.skill && build_skill.skill.passive? -%>
      <li data-tooltip-url="<%= tooltip_char_class_skill_path(@build.char_class,build_skill.skill) %>">
        <%= image_tag(build_skill.skill.img_url, :class => "skill_img" )%>
        <div>
          <h5><%= build_skill.skill.name %></h5>
          <p><%= "lvl #{build_skill.skill.level}" %></p>
        </div>
     <% end -%>
    <% end -%>
  </ul>
</div>

<ul id="build_comments_list">
  <h2><%= pluralize(@comments.length, 'Comment') -%> </h2>
  <% if !@comments.empty? -%>
    <% @comments.each do |comment| -%>
      <li>
        <header><strong><%= link_to comment.user.name, user_path(comment.user) %></strong> said:</header>
        <div><%= simple_format(comment.content) %></div>
        <footer>
          <div><%= distance_of_time_in_words(comment.created_at, Time.now, include_seconds = false, options = {}) %> ago </div>
          <%= link_to 'Edit', edit_user_build_comment_path(@user,@build,comment) if can? :edit, comment %>
          <%= link_to "Delete", user_build_comment_path(@user,@build,comment), :method => :delete if can? :destroy, comment %>
        </footer>
      </li>
    <% end -%>
  <% end -%>
</ul>

<% if user_signed_in? -%>
  <%= link_to 'New Comment', new_user_build_comment_path(@user,@build), :id => "new_comment", :class => "but", :remote => true %>
<% else -%>
  <%= link_to 'New Comment', new_user_build_comment_path(@user,@build), :id => "new_comment", :class => "but"%>
<% end -%>
<div id="comment_form" style="display:none;">
  <h3>New Comment </h3>
</div>
