<% flash.each do |name, msg| %>
  <%= content_tag :div, msg, :id => "flash_#{name}" if msg.is_a?(String) %>
<% end %>
<header class="build">
  <div id="build_like_box">
    <span id="build_rate_title">Approval Rate:</span>
    <div id="build_rate"><%= @build.thumbs_rate %>%</div>
    <div id="build_thumbs">
      <span id="thumbs_up"><%= @build.thumbs_up %> likes</span>
      <span id="thumbs_down"><%= @build.thumbs_down %> dislikes</span>
    </div>
    <% if user_signed_in? -%>
      <% if current_user.has_voted?(@build) -%>
        <div id="build_like_vote">Voted:</div>
        <% else -%>
        <div id="build_like_vote">Vote:</div>
      <% end -%>
    <div id="like_form">
      <%= render :partial => "likes/form" %>
    </div>
    <% else -%>
      <div id="build_like_vote">Vote:</div>
      <%= link_to(login_user_build_path(@user,@build, :location => "")) do %>
        <span id="label_like"></span>
        <span id="label_dislike"></span>
      <% end %>
    <% end -%>
  </div>
  <% if @user != current_user %>
    <div id="breadcrumb">
      <%= link_to @user.name, user_builds_path(@user) %> ::
    </div>
  <% end -%>
  <h1><%= @build.name %> <span><%= link_to "Edit", edit_user_build_path, :class => "but" if @user == current_user %><span></h1>
  <p class="class_name"><strong>Class:</strong> <%= @build.char_class.name %></p>
  <div class="description">
    <%= simple_format(@build.description) if @build.description %>
  </div>
</header>
<div id="build_skills_list">
  <ul class="build_active_skills">
    <h2>Active Skills:</h2>
    <% @build_skills.each do |build_skill| %>
      <% if build_skill.skill && !build_skill.skill.passive? -%>
      <% if build_skill.rune -%>
        <li data-tooltip-url="<%= tooltip_char_class_skill_rune_effect_path(@build.char_class,build_skill.skill,build_skill.effect) %>">  
      <% else -%>
        <li data-tooltip-url="<%= tooltip_char_class_skill_path(@build.char_class,build_skill.skill) %>">
      <% end -%>
        <%= image_tag(build_skill.skill.img_url, :class => "skill_img" )%>
          <% if build_skill.rune -%>
            <%= image_tag(build_skill.rune.img_url, :class => "rune_img" )%>
          <% else -%>
           <img src="/assets/runes/rune_empty.png" class="rune_img">
          <% end -%>
        <div>
          <h5><%= build_skill.skill.name %></h5>
          <p><%= "lvl #{build_skill.skill.level} - #{build_skill.skill.skill_type.name}" %></p>
        </div>
     <% end -%>
   <% end -%>
  </ul>
  <ul class="build_passive_skills">
    <h2>Passive Skills:</h2>
    <% @build_skills.each do |build_skill| %>
      <% if build_skill.skill && build_skill.skill.passive? -%>
      <li data-tooltip-url="<%= tooltip_char_class_skill_path(@build.char_class,build_skill.skill) %>">
        <%= image_tag(build_skill.skill.img_url, :class => "skill_img" )%>
        <div>
          <h5><%= build_skill.skill.name %></h5>
          <p><%= "lvl #{build_skill.skill.level}" %></p>
        </div>
     <% end -%>
    <% end -%>
  </ul>
</div>

<ul id="build_comments_list">
  <%= render :partial => 'comments/list' %>
</ul>

  <% if user_signed_in? -%>
    <%= link_to 'New Comment', new_user_build_comment_path(@user,@build), :id => "new_comment_button", :class => "but", :remote => true %>
  <% else -%>
    <%= link_to 'New Comment', login_user_build_path(@user,@build, :location => "new_comment_button"), :id => "new_comment_button", :class => "but" %>
  <% end -%>
<div id="comment_form" style="display:none;">
  <h3>New Comment </h3>
</div>
