<h1><%= "#{@char.name} Skills" %></h1>

<table>
  <% @char.skills.each do |skill| %>
  <tr>
    <td><%= skill.level %></td>
    <td><%= link_to skill.name, char_class_skill_path(@char,skill) %></td>
    <td><%= skill.skill_type.name %></td>
    <td><%= skill.description.truncate(150) %></td>
  </tr>
  <% end %>
</table>
