<h1><%= "#{@char.name} Skills" %></h1>

<table>
  <% @char.skills.each do |skill| %>
  <tr>
    <td><%= link_to skill.name, char_class_skill_path(@char,skill) %></td>
    <td><%= skill.skill_type %></td>
  </tr>
  <% end %>
</table>
<hr>
<%= link_to "All Classes", char_classes_path %> | 
<%= link_to "New Skill", new_char_class_skill_path %>
