<% flash.each do |name, msg| %>
  <%= content_tag :div, msg, :id => "flash_#{name}" if msg.is_a?(String) %>
<% end %>
<h1> <%= @skill.name %></h1>
<h2> <%= @skill.description %></h2>
<h2>Rune Effects:</h2>
<table>
  <% @rune_effects.each do |rune_effect| %>
  <tr> 
    <td><%= rune_effect.rune.name %></td>
    <td><%= rune_effect.name %></td>
    <td><%= rune_effect.description %></td>
  </tr>
  <% end %>
</table>
<%= link_to "New Effect", new_char_class_skill_rune_effect_path(@char,@skill) %>
