<header class="main">
  <nav id="login">
    <%= render 'users/menu/registration_items' %>
    <%= render 'users/menu/login_items' %>
  </nav>
  <hgroup>
    <h1><%= link_to "Diablohub", root_path %></h1>
    <h2><%= link_to "Create, share and discover builds", root_path %></h2>
  </hgroup>
  <nav id="menu_top">
   <%= tabs_tag(:builder => ApplicationHelper:: MenuTabBuilder) do |tab| %>
      <%= tab.mybuilds   'My Builds', user_builds_path(current_user) if user_signed_in? %>
      <%= tab.allbuilds 'All Builds', builds_path %>
      <%= tab.classes   'Classes', char_classes_path %>
    <% end %>
  </nav>
  <input type="search" placeholder="search" id="search">
</header>
