<% CharClass.find(1).skills.each do |skill| %>
<% if !skill.passive? %>
  <article class='<%= skill.skill_type.slug %>'>
    <header>
      <%= image_tag(skill.img_url, :class => "skill_img") %>
      <span class="skill_level">lvl <%= skill.level %></span>
      <h3 class="skill_name"><%= skill.name %></h3>
      <h4 class="skill_type"><%= skill.skill_type.name %></h4>
    </header>
    <div>
      <span></span>
      <ul class="skill_details">
        <% if skill.cost? %>
          <li><strong>Cost:</strong> <%= skill.cost %></li>
        <% end %>
        <% if skill.generate? %>
          <li><strong>Generate:</strong> <%= skill.generate %></li>
        <% end %>
        <% if skill.cooldown? %>
          <li><strong>Cooldown:</strong> <%= skill.cooldown %></li>
        <% end %>
      </ul>
      <span><%= skill.description %></span>
    </div>
  </article>
<% end %>
<% end %>
