<h1>Skill Types</h1>
<table>
  <% @skill_types.each do |skill_type| %>
  <tr>
    <td><%= skill_type.char_class.name %></td>
    <td><%= link_to skill_type.name, skill_type_url(skill_type) %></td>
    <td><%= link_to "Edit", edit_skill_type_url(skill_type) %></td>
    <!--<td><%= link_to "Delete", skill_type_url(skill_type), :method => :delete %></td>-->
  </tr>
  <% end %>
</table>

<hr>
<%= link_to "Home", root_path %> | 
<%= link_to "New Skill Type", new_skill_type_url %>
