<h1>Welcome Outlander</h1>
<ul>
  <li><%=  link_to "Classes", char_classes_url %></li>
  <li><%=  link_to "Skill Types", skill_types_url %></li>
  <li><%=  link_to "Skills", skills_url %></li>
  <li><%=  link_to "Runes", runes_url %></li>
  <li><%=  link_to "Rune Effects", rune_effects_url %></li>
</ul>
