<div id="showcase">
  <div id="img_classes">
    <%= link_to "", char_class_url("barbarian"), :id => "img_barbarian", :class => "img_active", "data-title" => "Barbarian", "data-quote" => '"I swear to you, we put a dozen arrows into him and he just stood back up."' %>
    <%= link_to "", char_class_url("demon-hunter"), :id => "img_demon_hunter", "data-title" => "Demon Hunter", "data-quote" => '"The first three were dead before they hit the ground. The others weren\'t so lucky."' %>
    <%= link_to "", char_class_url("monk"), :id => "img_monk", "data-title" => "Monk", "data-quote" => '"No weapon can overcome the weakness of an undisciplined mind."' %>
    <%= link_to "", char_class_url("witch-doctor"), :id => "img_witch_doctor", "data-title" => "Witch Doctor", "data-quote" => '"The spirits take their toll. Best to be ready to pay."' %>
    <%= link_to "", char_class_url("wizard"), :id => "img_wizard", "data-title" => "Wizard", "data-quote" => '"How will I survive? I don\'t intend to get hit in the first place."' %>
  </div>
  <div id="quotes">
    <h3>Barbarian</h3>
    <blockquote>"I swear to you, we put a dozen arrows into him and he just stood back up."</blockquote>
  </div>
  <div id="invitation">
  <%= link_to 'Create your build', new_user_build_path(current_user), :class => "but" if user_signed_in? %>
  <%= link_to 'Create your build', new_user_session_path, :class => "but" unless user_signed_in? %>
    <span>or <%= link_to "explore all", builds_path %></span>
  </div>
</div>
<div id="block_builds">
  <div id="popular_builds">
    <h3>Popular Builds</h3>
    <ul>
      <li>Comming Soon...</li>
    </ul>
  </div>
  <div id="new_builds">
    <h3>New Builds</h3>
    <ul>
      <% @newbuilds.each do |newbuild| %>
      <li>
        <%= link_to(user_build_path(newbuild.user, newbuild)) do %>
        <%= newbuild.name.truncate(20) %>
        <span class="build_class"><%= newbuild.char_class.name %></span>
        <% end %>
      </li>
      <% end %>
    </ul>
  </div>
    <div id="class_builds">
    <h3>Builds by Class</h3>
    <ul>
      <% @chars.each do |char| %>
      <li>
        <%= link_to(builds_char_class_path(char)) do %>
        <%= char.name %>
        <span class="build_count"><%= char.builds.count %></span>
        <% end %>
      </li>
      <% end %>
    </ul>
  </div>
</div>

