<!DOCTYPE html>
<html lang="en">
<head>
  <title><%= title %></title>
  <meta name="description" content="<%= description %>" >
  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "application" %>
  <link href='http://fonts.googleapis.com/css?family=Arvo:400,700' rel='stylesheet' type='text/css'>
  <%= csrf_meta_tags %>
  <%= render 'shared/ga' %>
  <%= render 'shared/fb_meta_tags' %>
</head>
<body>
  <div id="wrapper">
  <%= render "shared/header" %>
  <%= yield %>
  <%= render "shared/footer" %>
  </div>
</body>
</html>
